.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  .message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: green;
    background-color: white;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 20px;
  }
  .main {
    .theory {
      display: flex;
      align-items: center;
      flex-direction: column;
      position: relative;
      @media (min-width: 1300px) {
        .back {
          position: absolute;
          top: 50%;
          left: -3%;
          transform: translate(-35%, -50%);
          z-index: 1;
        }
        .forward {
          position: absolute;
          top: 50%;
          right: -3%;
          transform: translate(35%, -50%);
          z-index: 1;
        }
      }
      @media (max-width: 1299px) {
        .forward {
          position: absolute;
          top: 80px;
          right: -20px;
        }
        .back {
          position: absolute;
          top: 80px;
          left: -20px;
        }
        .forward,
        .back {
          width: 80px;
          z-index: 2;
        }
      }
    }
  }
}
