.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #2ea3f8;
  margin: 2% 5% 0 5%;
  height: 100px;
  border-radius: 10px;
  width: 80vw;
  a {
    h2 {
      color: white;
      font-weight: 500;
      pointer-events: none;
      background-color: transparent;
    }
    &:hover {
      transform: scale(1.1);
    }
    transition: 0.3s;
    text-decoration: none;
    background-color: initial;
  }
  .login {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: initial;
    align-items: center;
    p {
      color: white;
      background-color: initial;
      margin: 0;
      margin-left: 10px;
      font-size: 20px;
      border: 2px solid white;
      border-radius: 5px;
      padding: 2px;
      pointer-events: none;
    }
  }
  .links {
    background-color: transparent;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    a {
      background-color: transparent;
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 20px;
      transition: 0.3s;
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
