.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #2ea3f8;
  margin: 2% 5% 0 5%;
  height: 100px;
  border-radius: 10px;
  width: 80vw;
  z-index: 10;
  @media (max-width: 1299px) {
    a {
      h2 {
        color: white;
        font-weight: 500;
        pointer-events: none;
        background-color: transparent;
        font-size: 6vw;
        margin: 0;
      }
      &:hover {
        transform: scale(1.1);
      }
      transition: 0.3s;
      text-decoration: none;
      background-color: initial;
    }
  }
  @media (min-width: 1300px) {
    a {
      h2 {
        color: white;
        font-weight: 500;
        pointer-events: none;
        background-color: transparent;
        font-size: 2vw;
        margin: 0;
      }
      &:hover {
        transform: scale(1.1);
      }
      transition: 0.3s;
      text-decoration: none;
      background-color: initial;
    }
  }
  .headers {
    background-color: initial;
    display: flex;
    flex-direction: row;
    align-items: center;
    .miniHeader {
      z-index: 2;
      background-color: initial;
      display: flex;
      flex-direction: row;
      align-items: center;
      .hamburger {
        cursor: pointer;
        width: 5vw;
        background-color: initial;
        filter: invert(1);
        transition: 0.3s;
        &:hover {
          transform: scale(1.3);
        }
      }
      .right {
        animation: toRight 0.5s;
      }
      @keyframes toRight {
        0% {
          margin-left: -100%;
        }
        100% {
          margin-left: 0;
        }
      }
      .left {
        animation: toLeft 0.5s;
      }
      @keyframes toLeft {
        0% {
          margin-left: 0%;
        }
        100% {
          margin-left: -100%;
        }
      }
      .links {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: initial;
        justify-content: space-between;
        background-color: white;
        .close {
          background-color: initial;
          width: 30px;
          top: 20px;
          right: 20px;
          position: absolute;
          transition: 0.3s;
          cursor: pointer;
          &:hover {
            transform: scale(1.3);
          }
        }
        .aa {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 30px;
          background-color: initial;

          height: 30vh;
          justify-content: space-between;
          a {
            cursor: pointer;
            font-weight: 600;
          }
          .quit {
            margin-top: 20px;
            cursor: pointer;
            color: red;
          }
        }
      }
      .login {
        background-color: initial;
        margin-right: 20px;
        p {
          color: white;
          background-color: initial;
          margin: 0;
        }
      }
    }

    .bigHeader {
      background-color: initial;
      display: flex;
      flex-direction: row;
      align-items: center;

      .login {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: initial;
        align-items: center;
        margin-left: 20px;
        width: 10vw;
        transition: 0.3s;
        .adminPanel,
        .loginText {
          color: white;
          background-color: initial;
          margin: 0;
          margin-left: 10px;
          font-size: 20px;
          border: 2px solid white;
          border-radius: 5px;
          padding: 2px;
        }
        .adminPanel {
          cursor: pointer;
          &:hover {
            background-color: gray;
          }
        }
        .loginText {
          color: white;
          background-color: initial;
          margin: 0;
          margin-left: 10px;
          font-size: 20px;
          border: 2px solid white;
          border-radius: 5px;
          padding: 2px;
          pointer-events: none;
        }
      }
      .links {
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        a {
          margin: 0 20px;
          background-color: transparent;
          text-decoration: none;
          color: white;
          font-weight: 600;
          font-size: 20px;
          transition: 0.3s;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
