.root {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1299px) {
    .correct,
    .error {
      width: 80vw;
    }
  }
  @media (min-width: 1300px) {
    .correct,
    .error {
      width: 40vw;
    }
  }
  .correct {
    color: green;
    background-color: white;
    border-radius: 5px;
    border: 2px solid green;
    font-size: 20px;
    padding: 5px;
  }
  .error {
    color: red;
    background-color: white;
    border-radius: 5px;
    border: 2px solid red;
    font-size: 20px;
    padding: 5px;
  }
  .comp {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    margin: 10px 0;
    justify-content: space-between;
    p {
      margin: 0;
      @media (max-width: 1299px) {
        margin-bottom: 10px;
      }
      color: white;
      font-size: 20px;
    }
    @media (max-width: 1299px) {
      flex-direction: column;
      margin: 0;
      padding: 0;
    }
  }
}
