.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  .choose {
    background-color: white;
    border: 2px solid black;
    width: 25vw;
    @media (max-width: 1299px) {
      width: 80vw;
    }
    p {
      color: black;
      background-color: initial;
      font-size: 15px;
    }
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    div {
      background-color: initial;
      button {
        margin: 5px;
      }
    }
  }
  .main {
    display: flex;
    flex-direction: column;
    h2 {
      color: white;
      width: 80vw;
    }
    .categories {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 5px;

      .btn {
        margin-bottom: 5px;
        width: 40vw;
        @media (max-width: 1299px) {
          width: 80vw;
        }
        background-color: #6c757d;
        color: white;
        text-decoration: none;
        height: 38px;
        border-radius: 0.25rem;
        position: relative;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #5c636a;
        }
        .pp {
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          display: flex;
          flex-direction: row;
          background-color: initial;
          justify-content: space-between;
          width: 80%;
          p {
            background-color: initial;
            font-size: 15px;
            font-weight: 500;
            margin: 0;
            padding: 0;
          }
          .progress {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: initial;
            width: 20%;
            @media (max-width: 1299px) {
              width: 30%;
            }
            justify-content: space-between;
            p {
              margin: 0;
              padding: 0;
            }
            img {
              width: 20px;
              background-color: initial;
            }
          }
        }
      }
    }
  }
}
