.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  .backBtn {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, 0);
  }
  .forwardBtn {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-50%, 0);
  }

  .answers {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .correct {
      color: green;
      background-color: white;
      border-radius: 5px;
      border: 2px solid green;
      font-size: 20px;
      padding: 5px;
    }
    .error {
      color: red;
      background-color: white;
      border-radius: 5px;
      border: 2px solid red;
      font-size: 20px;
      padding: 5px;
      width: 300px;
    }
    .imageSelection,
    .nameSelection {
      p {
        color: white;
        font-size: 20px;
      }
      .pp {
        display: flex;
        flex-direction: row;
        p:first-child {
          margin-right: 5px;
        }
      }
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .comparison {
      display: flex;
      flex-direction: column;
      align-items: center;
      .comp {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 20px;
        margin: 10px 0;
        justify-content: space-between;
        p {
          margin: 0;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}
